.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-card {
  max-width: 100px;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.1s ease-out;
}

.team-card:hover {
  transform: scale(1.04);
  transition: 0.2s;
}

h1 {
  font-size: 0.7rem;
  font-weight: 600;
}

.team-logo {
  max-height: 90px;
}

.teams-container {
  width: 80rem;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.games-container {
  max-width: 80vw;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h2,
h3 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0.3rem;
}
.game-teams {
  display: flex;
  width: 30%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 10px;
}

.game-teams-modal {
  flex-direction: row;
}

.game-card {
  width: 300px;
  height: 9em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  background-color: #edf2f4;
  border-radius: 10px;
  margin: 10px;
}

.ended {
  background-color: #8bbcff;
}

.game-date {
  margin: 20px 0 5px 0;
  font-weight: 600;
}

.live-games {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.team-game {
  text-align: center;
  margin: 0 20px;
}

.game-live-logo img {
  width: 70px;
  margin: 5px;
}
.game-live-logo {
  display: flex;
  justify-content: left;
  align-items: left;
}

.live-game-card {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 400px;
}

.live-game-top {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #003049;
  color: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.live-score {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.upcoming-games {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.scroll-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.scroll-btn {
  height: 9rem;
  width: 30px;
  background-color: #edf2f47c;
}

.live-score-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.slide {
  height: 300px;
  width: 100%;
}

.each-slide {
  display: flex;
  width: 100%;
  height: 400px;
}

.each-slide > div {
  width: 75%;
}

.each-slide > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.each-slide p {
  width: 25%;
  font-size: 1em;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}
