.attack-row {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.all-games {
  width: 1200px;
  min-height: 300px;
}

.all-games table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0 10px;
  margin: 20px;
  text-align: center;
}

table th {
  background-color: #e5e5e5;
}

th,
td {
  padding: 8px;
}

.all-games tr {
  cursor: pointer;
}

.all-games tr:hover {
  background-color: #e5e5e5;
}

.live-score-form {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.text-input {
  width: 200px;
  height: 30px;
  margin: 20px;
  padding: 2px;
  font-size: 16px;
  text-align: center;
}

.radio-input {
  margin: 10px;
  scale: 1.5;
  margin-left: 30px;
}

button {
  width: 100px;
  height: 40px;
  border: none;
  background-color: #003049;
  color: #ffffff;
  cursor: pointer;
}
button:hover {
  background-color: #e5e5e5;
  color: #003049;
}
